r-cran-rcpp
r-cran-uuid
r-cran-r6
r-cran-checkmate
r-cran-mime
r-cran-jsonlite
libcurl4-openssl-dev
libssl-dev
libxml2-dev
python3-pip
libfontconfig1-dev
libharfbuzz-dev
libfribidi-dev
libgit2-dev
libglpk-dev
libxt-dev
libcairo2-dev