annoy==1.17.1
contourpy==1.0.7
cycler==0.11.0
fbpca==1.0
fonttools==4.38.0
geosketch==1.2
intervaltree==3.1.0
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.7.0
numpy==1.24.2
packaging==23.0
Pillow==9.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
scanorama==1.7.3
scikit-learn==1.2.1
scipy==1.10.1
six==1.16.0
sortedcontainers==2.4.0
threadpoolctl==3.1.0
